.list-header.Noborder{
  background-image:none;
}

.border{
    
    background-image: linear-gradient(0deg,#ccc,#ccc 100%);
    padding: 19px 6px 12px 0;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: none;
}

.itemSelect .title{
  margin: 4px 0 18px;
}

.leftTitle {
    text-align: left;
    line-height: 44px;
}

.search-input,
input.text-input
{
  height: 40px;

}

.fullfield{
  width:100%;
}


.ion-thumbsup.noVertical{
  vertical-align: 0 !important; 
}

.list-item__icon2 {
    font-size: 22px;
    padding: 6px 6px;
}

.list-item__icon3 {
    line-height: 0 !important; 
    vertical-align: 0 !important; 
    
    background-image: linear-gradient(0deg,#ccc,#ccc 100%);
    padding: 10px 6px 12px 0;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: none;
}

h1.title {
      padding: 0 1px 5px 12px;
}


input{
  color: #1f1f21;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    /* width: 100%; */
    display: inline-block;
    background: 0 0;
    line-height: 1;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #1f1f21;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.width-full {
  width: 90%;
   
}

 .ali{
   margin-top: 16px;
 }
 
 

.text-input--underbar:invalid {
        border-bottom: 1px solid #ec0a0a;
 
}


.button-left{
   
    margin-left: auto;

}
 

.page__content{
  background-color:white  !important; 
}

.page_content2{
  background-color:#efeff4  !important; 
}

.list2{
  background-color:#efeff4  !important; 
}

.uk-card-default{
  background-color:#efeff4  !important; 
}



input {
  
    border-bottom: 1px solid #000;
  
}

img{
      display: block;
    margin: auto;
}

.uk-card-title {
    font-size: 1.0rem !important; 
}

.titleh6 {
    margin: 0 0 0px 0 !important; 
}


.mui-textfield {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
    width:100%;
}

.mui-textfield>label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uk-divider-icon{
  width: 100%
}