<!DOCTYPE HTML>
<html > 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
   
    
    <!--------------------->
    <!------- CCS --------->  
    <!--------------------->
    <!-- Compiled and minified CSS --
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/css/onsenui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/css/onsen-css-components.min.css">
	

    
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  
  
    
    <!--------------------->
    <!--- livrarias JS ---->  
    <!--------------------->
    
    <!-- libreria AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-touch.min.js"></script>-->
    
    
    
    <!-- livraria OnsenUI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.2/js/onsenui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.2/js/angular-onsenui.min.js"></script>
    
   
    <!-- livraria jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
     
    
    
        
    <!-- livraria Almacenamiento Angular -->
    <script src="/javascripts/ngmodules/ngStorage.min.js"></script>
        
    <!-- livraria lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script> 
 
   
  
  
  
  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
          
    
     <!-- JS  -->
    <script src="/javascripts/controllers/app.js"></script>
    
</head>

<body ng-controller="AppController"  >
        
 
    <ons-splitter var="mySplitter" id="mySplitter" >
        <ons-splitter-side side="left" width="340px" collapse="portrait" swipeable>
    		<ons-page >
    		    
    		    <div ng-if="option.search == 0" class="page_content2">
                
                    
                        <input type="search" class="search-input" style="width:80%;" placeholder="Busca" ng-model="searchText"></input>
                        <ons-button modifier="quiet" ><ons-icon icon="ion-search" class="noVertical" ></ons-icon></ons-button>
                
                    <ons-list class="list2">
        				
        				<ons-list-item ng-repeat="item in $storage.items | filter:searchText" ng-click="getInfo(item._id, $index)" style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title">{{item.email}}</span>
                                <span class="list-item__subtitle">{{item.nome}}</span>
                                <span class="list-item__subtitle">{{item.cpf}}</span>
                            </div>
     
                        </ons-list-item>
        			</ons-list>
        		</div>
    			
    			<div ng-if="option.search == 1" >
    			    
    			     <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                 <ons-button modifier="quiet"><ons-icon icon="ion-arrow-left-c" class="list-item__icon"   ng-click="clearData()"></ons-icon></ons-button>
                                <img class="uk-border-circle"  ng-src="{{thumb}}">
                                
                            </div>
                            <div class="uk-card-body">
                                <h6 class="uk-card-title titleh6"> <strong> <i>{{$storage.items[$storage.index].nome}}</i> </strong></h6>
                                <small>CPF: {{$storage.items[$storage.index].cpf}}</small>
                            </div> 
                        </div>
                    </div>
    			    
    			    
        			<ons-list class="list2">
        				
        				<ons-list-item style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title"><strong>Observações Importantes </strong></span>
                                <span class="list-item__subtitle">{{$storage.items[$storage.index].obs}}</span>
                            </div>
     
                        </ons-list-item>
                        
                        <ons-list-item style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title"><strong> Email </strong></span>
                                <span class="list-item__subtitle">{{$storage.items[$storage.index].email}}</span>
                            </div>
     
                        </ons-list-item>
                        
                        <ons-list-item style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title"><strong> Telefone </strong></span>
                                <span class="list-item__subtitle"> {{getTel()}} </span>
                            </div>
     
                        </ons-list-item>
                        
                         <ons-list-item style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title"><strong> Endereço </strong></span>
                                <span class="list-item__subtitle">  {{getEndereco() }}  </span>
                                
                           
                            </div>
     
                        </ons-list-item>
                        
        			</ons-list>
    			</div>
    		</ons-page>
	    </ons-splitter-side>
	    <ons-splitter-content page="home.html"></ons-splitter-content>
    </ons-splitter>
        
        
        <!-- modal de carrega de processos--> 
        <ons-dialog id="dialog-1">
            <div style="text-align: center; margin: 30px auto 0 auto; width: 90%;">
                <div class="progress-bar progress-bar--indeterminate"></div>
                <div style="opacity: 0.6; margin-top: 6px; font-size: 80%;"> 
                    {{$storage.mensaje}}
                </div>
            </div>
        </ons-dialog>   
        
    <template id="home.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="mySplitter.left.open()">
                        <ons-icon icon="md-menu"></ons-icon> 
                    </ons-toolbar-button> Fidelidade 
                </div>
            </ons-toolbar>
            
            <ul uk-tab>
                <li class="uk-active" ng-class=" {'uk-disabled': !option.search}" ng-click="option.page = 1"><a href="#" >Transações</a></li>
                <li  ng-click="option.page = 2"><a href="#"    >BENEFICIOS</a></li>
                <li  ng-click="option.page = 3"><a href="#"  >HISTORICO</a></li>
                <li  ng-click="getLojas()"><a href="#"  >LOJAS</a></li>
            </ul>
            
            <span ng-if="option.page == 2">
                Tab 2
            </span>
            
            <span ng-if="option.page == 3">
                Tab3
            </span>
            
            <span ng-if="option.page == 4">
                <div class="uk-container uk-container-expand">
                    
                    <input type="search" class="search-input" style="width:80%;" placeholder="Busca" ng-model="lojas"></input>
                    <ons-button modifier="quiet" ><ons-icon icon="ion-search" class="noVertical" ></ons-icon></ons-button>
                    <br>
                    <br>
                    <ons-list >
        				
        				<ons-list-item ng-repeat="item in $storage.lojas | filter:lojas" style="width:100%;" > <!-- -->
                            <div class="center">
                                <span class="list-item__title">Nome: {{item.loja}}</span>
                                <span class="list-item__subtitle">Numero: {{item.numero}}</span>
                                <span class="list-item__subtitle">Data: {{item.data | date:'MM/dd/yyyy H:mm'}}</span>
                                <span class="list-item__subtitle">Pagamento: {{item.pagamento}}</span>
                                <span class="list-item__subtitle">Valor: {{item.valor | currency:"R$"}}</span>
                            </div>
     
                        </ons-list-item>
        			</ons-list>
                </div>
            </span>
            
             
            
            <span ng-if="option.page == 1">
                <ons-row>
                    
        			<table  class="uk-table uk-table-small uk-table-middle uk-table-divider">
        			    <thead>
            			  <tr >
            				<th> Saldo </th>
            				<th> Historico </th>
            				<th> Utilizados </th>
            				<th> Perdidos </th>
            			  </tr>
            			<thead>
            			<tbody>
            			  <tr >
            				<td><strong> {{$storage.info.saldo || '---' }} </strong></td>
            				<td><strong> {{$storage.info.total || '---' }} </strong></td>
            				<td><strong> {{$storage.info.utilizados || '---' }} </strong></td>
            				<td><strong> {{$storage.info.expirados || '---' }} </strong></td>
            			  </tr>
     
            			</tbody>
        			</table>
        			
        		 
        		 
        		 
        		 
        	 
        	   </ons-row>
        	   
            	   <br>
                 
            	    <div class="uk-container uk-container-expand">
            	   <!-- form -->
                         
                        <form name="myForm" novalidate>
                            <ons-row>
                                <h6 class="title"><strong>Adicionar Nota</strong></h6>
                            </ons-row>
                            <ons-row>
                                <div class="mui-textfield"> 
                                    <ons-input 
                                        label="Loja"
                                        class="width-full"
                                         ng-required="true" 
                                         modifier="underbar"
                                        required
                                        float
                                        name="loja" 
                                        id="loja" 
                                        type="text" 
                                        placeholder="Razão social, Nome fantasia ou CPNJ" 
                                        ng-model="$storage.Item.loja"></ons-input>
                                    
                                    </input>
                                    <label>LOJA</label>
                                </div>
                            </ons-row>
                            
                            <ons-row>
                                
                                <ons-col width='20%' >
                                    <div class="mui-textfield"> 
                                        <ons-input 
                                        ng-required="true" 
                                        name="numero" 
                                        id="numero" 
                                        type="number" 
                                        placeholder="---" 
                                        modifier="underbar"
                                        ng-model="$storage.Item.numero"></ons-input>
                                        <label>NO DA NOTA</label>
                                    </div>
                               </ons-col>    
                                    
                                <ons-col width='1%'></ons-col>
                                <ons-col width='25%' >
                                    <div class="mui-textfield"> 
                                        <input 
                                        required
                                        class="ali"
                                        name="data" 
                                        id="data" 
                                        type="date" 
                                        placeholder="---" 
                                        modifier="underbar"
                                        ng-model="$storage.Item.data"></input>
                                        <label>DATA DA NOTA</label>
                                    </div>
                                </ons-col> 
                                
                                <ons-col width='1%'></ons-col>
                                <ons-col width='20%' >
                                    <div class="mui-textfield"> 
                                        <ons-select ng-model="$storage.Item.pagamento" required class="ali">
                                          <option value="Selecionar" >Selecionar</option>
                                          <option value="Op 1">Op 1</option>
                                          <option value="Op 2">Op 2</option>
                                          <option value="Op 3">Op 3</option>
                                        </ons-select>
                                        <label>FORMA DE PAGAMENTO</label>
                                    </div>
                                </ons-col>  
                                
                                <ons-col width='1%'></ons-col>
                                <ons-col width='20%' >
                                    <div class="mui-textfield"> 
                                        <ons-input 
                                        required
                                        name="valor" 
                                        id="valor" 
                                        type="number" 
                                        placeholder="R$ ---" 
                                        modifier="underbar"
                                        ng-model="$storage.Item.valor"></ons-input>
                                         <label>VALOR</label>
                                    </div>
                                </ons-col> 
                                    
                                  
                            </ons-row>
                            
                            <ons-row>
                                <span class="button-left">
                                    <ons-button modifier="light">
                                         Cancelar
                                    </ons-button>
                                    <ons-button  ng-disabled="myForm.$invalid || validateForm()" ng-click="addNota()">
                                         Adicionar
                                    </ons-button>
                                </span>
                            </ons-row>  
                            
                        </form>
                  
                        <br>
                       
                        <ons-row>
                            <h6 class="title"><strong>Cadastro Notas</strong></h6>
                        </ons-row>
                        <table  class="uk-table uk-table-small uk-table-middle uk-table-divider">
            			    <thead>
                			  <tr >
                			    <th> LOJA</th>
                				<th> NO DA NOTA </th>
                				<th> DATA DA NOTA </th>
                				<th> FORMA DE PAGAMENTO </th>
                				<th> VALOR </th>
                			  </tr>
                			<thead>
                			<tbody>
                			  <tr ng-if="$storage.notas.length > 0" ng-repeat="item in $storage.notas">
                				    
                				<td >  {{item.loja || '---'}} </td >
                				<td >  {{item.numero || '---' }}  </td >
                				<td >  {{item.data  | date:'MM/dd/yyyy H:mm' || '---' }}  </td >
                				<td >  {{item.pagamento || '---' }}  </td >
                				<td >  {{item.valor  }}  </td >
                				<td><ons-button modifier="quiet" ng-click="deleteNota($index)"><ons-icon icon="ion-trash-b" class="noVertical" ></ons-icon></ons-button></td>
                			  </tr>
                			  
                			  <tr ng-if="$storage.notas.length == 0">
                				<td><strong> ---  </strong></td>
                				<td><strong> --- </strong></td>
                				<td><strong> ---  </strong></td>
                				<td><strong> ---  </strong></td>
                				<td><strong> ---  </strong></td>
                				            			
                			  </tr>
                			</tbody>
        		    	</table>
        		    	
        		    	<ons-row>
                            <span class="button-left">
                                <ons-button modifier="light" ng-click="$storage.notas = []">
                                     Cancelar
                                </ons-button>
                                <ons-button  ng-click="postInfo()" ng-disabled="$storage.notas.length == 0">
                                     Cadastrar
                                </ons-button>
                            </span>
                        </ons-row>  
                    </div>
                    
                
            </span>
            
        </ons-page>
    </template>

    

    </body>
</html>
